extends layout

block content
  h1= title

  ul
    - product_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    each product in product_list
      li
        a(href=product.url) #{product.title}
        |  (#{product.supplier.name})

    else
      p Product list will be updated soon.