body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav-btn {
  padding: 10px 15px;
  background-color: aqua;
  color: black;
  margin: 1rem;
  border-radius: 5px;
}